/* Общие стили для страницы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    color: white;
    background-color: #111;
}

/* Параллакс-эффект */
.parallax {
    background-image: url('photo.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

/* Основной заголовок и подзаголовок */
.main-title {
    font-size: 8rem;
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.subtitle {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Секция с кнопкой */
.order-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;

    
}

.carousel {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 30vw;
}

.carousel-item {
    flex: 0 0 200px;
    margin: 0 15px;
    text-align: center;
    transition: transform 0.5s ease;
    scroll-snap-align: center;

}
.carousel-item:hover{
margin-right: -100px;

}

.carousel-item img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}